#btn1,
#btn3 {
    float: right;
    padding: 10px;
    margin-bottom: 20px;
    cursor: pointer;

}
table {
   counter-reset: section;
}
.count:before {
   counter-increment: section;
   content: counter(section);
}

h1{
   margin-top: 50px;
   text-align: center;
}
body {
    background-color: black;
    color: darkgray;
}

#btn2 {
    margin-bottom: 30px;
    margin-top: 10px;
}

#form {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    /* display: none; */
}
.success, .error {
  color: white;
  padding: 5px;
  max-width: 300px;
  margin: 5px 0 15px 0;
  margin-right: auto;
  margin-left: auto;
}

.success {
  background: green;
}

.error {
  background: red;
}
